torch>=2.0.0,<2.3.0
torchvision>=0.15.0,<0.18.0
torchdata>=0.5.0,<0.8.0
dgl>=1.1.0,<2.2.0
pydantic
numpy>=1.14.0,<2
h5py
matplotlib
networkx
opencv-python-headless<4.10.0
pandas
Pillow
PyYAML
scikit-image
scikit-learn
scipy
seaborn
tqdm
shapely
torch_geometric
openslide-python
pyarrow
